@model WebKhoSachMVC.Models.KeSach

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Lockout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Kệ Sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Tên Kệ Sách</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKeSach)
        </dd>

        <dt>
            <p>Vị Trí</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViTri)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
